<div >
  <header >
    <p >
      <%= daily_plan.date.strftime("%A %m/%d/%y") %>
    </p>
  </header>
  <div >
    <div >
      <% daily_plan.meals.each do |meal|%>
        <p class="uppercase"><%= meal.name %></p>
        <div>
          <% meal.food_items.each do |food_item| %>
            <div class="<%=food_item_class_name(food_item)%>">
              <%= food_item.name %><%= fa_icon icon(food_item)%>
            </div>
          <% end %>
        </div>
        <hr/>
      <% end %>
    </div>
  </div>
</div>
