<%= form_with(model: food_item, local: true) do |form| %>
  <% if food_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food_item.errors.count, "error") %> prohibited this food_item from being saved:</h2>
      <ul>
        <% food_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :item_type %>
    <%= form.select :item_type, options_for_select(FoodItem.item_types.map {|key, value| [key.titleize, FoodItem.item_types.key(value)]}, @food_item.item_type) %>
  </div>
  <div>
    <%= form.label :refrigerated %>
    <%= form.check_box :refrigerated %>
  </div>
  <div>
    <%= form.label :in_kitchen %>
    <%= form.check_box :in_kitchen %>
  </div>
  <div>
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
