<section class="col kitchen column is-one-third">
  <h2 class="subtitle">Kitchen Food Items</h2>
  <div class='action'>
    <%= link_to 'New Food', new_food_item_path, class: "button" %>
  </div>
  <div class='pantry'>
    <h3>Pantry</h3>
    <% @pantry_items.each do |food_item| %>
      <div class="<%=food_item_class_name(food_item)%>">
        <%= food_item.name %><%= fa_icon icon(food_item)%>
      </div>
    <% end %>
  </div>
  <div class='fridge'>
    <h3>Fridge</h3>
    <% @fridge_items.each do |food_item| %>
      <div class="<%=food_item_class_name(food_item)%>">
        <%= food_item.name %><%= fa_icon icon(food_item)%>
      </div>
    <% end %>
  </div>
</section>
