<h2>Kitchen Food Items</h2>
<div>
  <%= link_to 'New Food', new_food_item_path %>
</div>
<div class='flex flex-col'>
  <h3>Pantry</h3>
  <div class='flex flex-wrap'>
    <% @pantry_items.each do |food_item| %>
      <div class="<%=food_item_classes(food_item)%>">
        <%= food_item.name %><%= fa_icon icon(food_item)%>
      </div>
    <% end %>
  </div>
</div>
<div class='flex flex-col'>
  <h3>Fridge</h3>
  <div class='flex flex-wrap'>
    <% @fridge_items.each do |food_item| %>
      <div class="<%=food_item_classes(food_item)%>">
        <%= food_item.name %><%= fa_icon icon(food_item)%>
      </div>
    <% end %>
  </div>
</div>
