<div class='inner-container columns'>
  <section class='col column'>
    <h2 class="subtitle">Weekly Meals</h2>
    <div class='weekly-meals columns'>
      <% DailyPlan.all.each do |daily_plan|%>
        <div class='day column is-6'>
          <%= render "components/card", daily_plan: daily_plan %>
        </div>
      <% end %>
    </div>
  </section>
  <section class="col kitchen column is-one-third">
    <h2 class="subtitle">Kitchen Food Items</h2>
    <div class='pantry'>
      <h3>Pantry</h3>
      <% @pantry_items.each do |food_item| %>
        <div class="<%=food_item_class_name(food_item)%>">
          <%= food_item.name %><%= fa_icon icon(food_item)%>
        </div>
      <% end %>
    </div>
    <div class='fridge'>
      <h3>Fridge</h3>
      <% @fridge_items.each do |food_item| %>
        <div class="<%=food_item_class_name(food_item)%>">
          <%= food_item.name %><%= fa_icon icon(food_item)%>
        </div>
      <% end %>
    </div>
  </section>
</div>
