<div class='inner-container'>
  <div class='col'>
    <h2>Weekly Meals</h2>
    <div class='weekly-meals'>
      <% DailyPlan.all.each do |daily_plan|%>
        <div class='day'>
          <p><%= daily_plan.date.strftime('%A %m/%d/%y') %></p>
          <% daily_plan.meals.each do |meal|%>
            <p><%= meal.name %></p>
            <div class='meal'>
              <% meal.food_items.each do |food_item| %>
                <div class='food-item'><%= food_item.name %><%= fa_icon icon(food_item)%></div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col kitchen">
    <h2>Kitchen Food Items</h2>
    <h3>Pantry</h3>
    <div class='pantry'>
      <% @pantry_items.each do |food_item| %>
        <div class='food-item'><%= food_item.name %><%= fa_icon icon(food_item)%></div>
      <% end %>
    </div>
    <h3>Fridge</h3>
    <div class='fridge'>
      <% @fridge_items.each do |food_item| %>
        <div class='food-item'><%= food_item.name %><%= fa_icon icon(food_item)%></div>
      <% end %>
    </div>
  </div>
</div>
